@page "/admin/add-role"
@model CreateModel
@{
    ViewData["Title"] = "Tạo role mới";
}
<h2>@ViewData["Title"]</h2>
<partial name="_StatusMessage" for="StatusMessage" />
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="validate" style="text-align:center" role="alert"></div>
            <div class="input-box">
                <label asp-for="Input.Name" class="form-label"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="tạo mới" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

