
<footer class="footer">
    <div class="container">
        <div class="grid__row">
            <div class="grid__column-2-4">
                <div class="footer__about">
                    @*<div class="footer__logo">
                            <a href="#"><img src="" alt=""></a>
                        </div>*@
                    <p style="line-height: 25px;">Khách hàng là trung tâm của mô hình kinh doanh độc đáo của chúng tôi, bao gồm cả thiết kế.</p>
                    <div class="footer__payment">
                        <a href="#"><img src="~/Images/system/momo.jpg" alt=""></a>
                        <a href="#"><img src="~/Images/system/vnpay.jpg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="grid__column-2-4"></div>

            <div class="grid__column-2-4">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Sweater</a></li>
                        <li><a href="#">Shoes</a></li>
                        <li><a href="#">Backpack</a></li>
                        <li><a href="#">Caps</a></li>
                    </ul>
                </div>
            </div>
            <div class="grid__column-2-4">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Store</a></li>
                        <li><a href="#">Return & Exchanges</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="grid__row" style="display:flex;justify-content:center">
            <div class="footer__copyright__text">
                <p>
                    Copyright ©

                    All rights reserved | This website is made by <a href="https://facebook.com/ttnhan12" target="_blank">TTN</a>
                </p>
            </div>
        </div>
    </div>
</footer>