<nav id="navbar" class="container">
    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">boutique</a>
    <button id="mobile-menu"><i class="fa fa-align-justify"></i></button>
    <ul id="navbar-center">
        <li><a class="nav-link" asp-controller="Home" asp-action="Index">home</a></li>
        <li><a class="nav-link" asp-controller="Home" asp-action="Store">store</a></li>
        <li><a class="nav-link" href="javascript:void(0)" onclick="contact()">contact</a></li>
        <li><a class="nav-link" href="javascript:void(0)" onclick="about()">about</a></li>
    </ul>
    <ul id="navbar-right">
        <li>
            <a class="nav-icon header-search__cart" href="@Url.Action("index","cart")">
                <i class="fa fa-shopping-bag "></i>
            </a>
        </li>
        <li>
            <a class="nav-icon" href="@Url.Action("index","account")">
                <i class="fa fa-user "></i>
            </a>
        </li>
    </ul>
</nav>
