@using Microsoft.AspNetCore.Identity
@using Clothings_Store.Models.Database
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}

<nav id="navbar" class="container">
    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">boutique</a>
    <button id="mobile-menu"><i class="fa fa-align-justify"></i></button>
    <ul id="navbar-center">
        <li><a class="nav-link" asp-controller="Home" asp-action="Index">home</a></li>
        <li><a class="nav-link" asp-controller="Home" asp-action="Store">store</a></li>
        <li><a class="nav-link" href="javascript:void(0)" onclick="contact()">contact</a></li>
        <li><a class="nav-link" href="https://thanhnhan-001.netlify.app" target="blank">about</a></li>
    </ul>
    <ul id="navbar-right">
        @if (!SignInManager.IsSignedIn(User))
        {
            <li>
                <a class="nav-icon header-search__cart" href="@Url.Action("index","cart")">
                    <i class="fa fa-shopping-bag "></i>
                </a>
            </li>
            <li>
                <a class="nav-icon" id="login" asp-area="Identity" asp-page="/Account/Login">
                    <i class="fa fa-user "></i>
                </a>
            </li>
        }
        else
        {
            <li>
                <a class="nav-icon header-search__cart" href="@Url.Action("index","cart")">
                    <i class="fa fa-shopping-bag "></i>
                </a>
            </li>
            <li>
                <a class="nav-icon" id="login" asp-area="Identity" asp-page="/Account/Manage/Index">
                    <i class="fa fa-user"></i>
                </a>
            </li>
            <li>
                <a class="nav-icon" href="javascript:void(0);" onclick="logOut()">
                    <i class="fa fa-sign-out"></i>
                </a>

                <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" method="post">
                    <input type="hidden" name="returnUrl" value="@Url.Page("/", new { area = "" })" />
                </form>
            </li>
        }
    </ul>
</nav>
