@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Xác nhận quên mật khẩu";
}

<div style="position: absolute; top: 40%">
    <p style="font-size: 1.4rem">
        Vui lòng kiểm tra email để cập nhật lại mật khẩu.
    </p>
</div>