@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Quên mật khẩu?";
}

<div class="form-box login">
    <form method="post">
        <div class="input-box">
            <div asp-validation-summary="ModelOnly" class="validate" role="alert"></div>
            <input asp-for="Input.Email" placeholder="name@example.com" />
            <label asp-for="Input.Email">Email</label>
        </div>
        <button type="submit" class="btn">Cập nhật mật khẩu</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
