@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
<hr />
<div class="form-box login">
    <form method="post">
        <div class="input-box">
            <div asp-validation-summary="ModelOnly" class="validate" role="alert"></div>
            <input asp-for="Input.Email" placeholder="name@example.com" />
            <label asp-for="Input.Email">Email</label>
        </div>
        <button type="submit" class="btn">Reset Password</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
