@page
@model RegisterModel
@{
    ViewData["Title"] = "Đăng ký";
}

<div class="form-box register">
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="input-box">
            <input asp-for="Input.Name" />
            <span asp-validation-for="Input.Name" class="validate"></span>
            <label for="">Họ và tên</label>
        </div>
        <div class="input-box">
            <input asp-for="Input.DOB" />
            <span asp-validation-for="Input.DOB" class="validate"></span>
            <label for="">Ngày sinh</label>
        </div>
        <div class="input-box">
            <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <span asp-validation-for="Input.Email" class="validate"></span>
            <label for="">Email</label>
        </div>
        <div class="input-box">
            <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" placeholder="password" />
            <span asp-validation-for="Input.Password" class="validate"></span>
            <label for="">Mật khẩu</label>
        </div>
         <div class="input-box">
            <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" placeholder="confirm password" />
            <span asp-validation-for="Input.ConfirmPassword" class="validate"></span>
            <label for="">Xác nhận mật khẩu</label>
        </div>
       
        <div class="remember-forget">
            <label for=""><input type="checkbox">Tôi đồng ý với chính sách và điều khoản của website</label>
        </div>
        <button id="registerSubmit" class="btn" type="submit">Đăng ký</button>
        <div class="login-register">
            <p>Bạn đã có tài khoản ? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" class="login-link">Đăng nhập</a> </p>
        </div>
    </form>
</div>