@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="form-box register">
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <h2>Sign Up</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="input-box">
            <input asp-for="Input.Name" />
            <span asp-validation-for="Input.Name" class="validate"></span>
            <label for="">Fullname</label>
        </div>
        <div class="input-box">
            <input asp-for="Input.DOB" />
            <span asp-validation-for="Input.DOB" class="validate"></span>
            <label for="">DOB</label>
        </div>
        <div class="input-box">
            <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <span asp-validation-for="Input.Email" class="validate"></span>
            <label for="">Email</label>
        </div>
        <div class="input-box">
            <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" placeholder="password" />
            <span asp-validation-for="Input.Password" class="validate"></span>
            <label for="">Password</label>
        </div>
         <div class="input-box">
            <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" placeholder="password" />
            <span asp-validation-for="Input.ConfirmPassword" class="validate"></span>
            <label for="">ConfirmPassword</label>
        </div>
       
        <div class="remember-forget">
            <label for=""><input type="checkbox">I agree to the term & conditions</label>
        </div>
        <button id="registerSubmit" class="btn" type="submit">Sign Up</button>
        <div class="login-register">
            <p>Already have an account ? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" class="login-link">Sign in</a> </p>
        </div>
    </form>
</div>