@page "/admin/add-category"
@model CreateModel
@{
    ViewData["Title"] = "Tạo danh mục mới";
}

<h2>@ViewData["Title"]</h2>
<partial name="_StatusMessage" for="StatusMessage" />
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" style="text-align:center" role="alert"></div>
            <div class="input-box">
                <label asp-for="Input.Code" class="form-label"></label>
                <input asp-for="Input.Code" class="form-control" />
                <span asp-validation-for="Input.Code" class="text-danger"></span>
            </div>
            <div class="input-box">
                <label asp-for="Input.Name" class="form-label"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <hr/>
            <div class="form-group">
                <input type="submit" value="Tạo mới" class="btn btn-primary" />
                <a class="btn btn-danger" asp-page="./Index">Danh sách các danh mục</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

