<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon.ico">
    <title>Boutique - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/admin/css/style.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/admin/vendors/mdi/css/materialdesignicons.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/admin/vendors/flag-icon-css/css/flag-icon.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/admin/vendors/css/vendor.bundle.base.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/admin/vendors/font-awesome/css/font-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/admin/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/admin/css/style.css" asp-append-version="true" />
</head>

<body>
    <div class="container-scroller">
        <!--=================================================== SIDEBAR ============================================================ -->
        <partial name="Partial/sidebar" />

        <div class="container-fluid page-body-wrapper">
            <!--=================================================== NAVBAR ============================================================ -->
            <partial name="Partial/navbar" />

            <div id="theme-settings" class="settings-panel">
                <i class="settings-close mdi mdi-close"></i>
                <p class="settings-heading">SIDEBAR SKINS</p>
                <div class="sidebar-bg-options selected" id="sidebar-default-theme">
                    <div class="img-ss rounded-circle bg-light border mr-3"></div> Default
                </div>
                <div class="sidebar-bg-options" id="sidebar-dark-theme">
                    <div class="img-ss rounded-circle bg-dark border mr-3"></div> Dark
                </div>
                <p class="settings-heading mt-2">HEADER SKINS</p>
                <div class="color-tiles mx-0 px-4">
                    <div class="tiles light"></div>
                    <div class="tiles dark"></div>
                </div>
            </div>
            <div class="main-panel">
                <div class="content-wrapper pb-0">
                    @RenderBody()
                </div>
                <!--=================================================== NAVBAR ============================================================ -->
                <partial name="Partial/footer" />
            </div>
        </div>
    </div>
    <!-- plugins:js -->
    <script src="~/admin/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/admin/vendors/chart.js/Chart.min.js"></script>
    <script src="~/admin/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/admin/vendors/flot/jquery.flot.js"></script>
    <script src="~/admin/vendors/flot/jquery.flot.resize.js"></script>
    <script src="~/admin/vendors/flot/jquery.flot.categories.js"></script>
    <script src="~/admin/vendors/flot/jquery.flot.fillbetween.js"></script>
    <script src="~/admin/vendors/flot/jquery.flot.stack.js"></script>
    <script src="~/admin/vendors/flot/jquery.flot.pie.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/admin/js/off-canvas.js"></script>
    <script src="~/admin/js/hoverable-collapse.js"></script>
    <script src="~/admin/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/admin/js/dashboard.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>